In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Kevin Cookie Company Financials.csv')
df.head()

,Country,Product,Units Sold,Revenue per cookie,Cost per cookie,Revenue,Cost,Profit,Date,Month Number,Month Name,Year
0,Canada,Chocolate Chip,$292.00,$5.00,$2.00,"$1,460.00",$584.00,$876.00,01/02/2019,2,February,2019
1,Mexico,Chocolate Chip,$974.00,$5.00,$2.00,"$4,870.00","$1,948.00","$2,922.00",01/02/2019,2,February,2019
2,Canada,Chocolate Chip,"$2,518.00",$5.00,$2.00,"$12,590.00","$5,036.00","$7,554.00",01/06/2019,6,June,2019
3,Germany,Chocolate Chip,"$1,006.00",$5.00,$2.00,"$5,030.00","$2,012.00","$3,018.00",01/06/2019,6,June,2019
4,Germany,Chocolate Chip,$367.00,$5.00,$2.00,"$1,835.00",$734.00,"$1,101.00",01/07/2019,7,July,2019

In [4]:
df.isnull().sum()

Country                 0
 Product                0
 Units Sold             0
 Revenue per cookie     0
 Cost per cookie        0
 Revenue                0
 Cost                   0
 Profit                 0
Date                    0
Month Number            0
 Month Name             0
Year                    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country               700 non-null    object
 1    Product              700 non-null    object
 2    Units Sold           700 non-null    object
 3    Revenue per cookie   700 non-null    object
 4    Cost per cookie      700 non-null    object
 5    Revenue              700 non-null    object
 6    Cost                 700 non-null    object
 7    Profit               700 non-null    object
 8   Date                  700 non-null    object
 9   Month Number          700 non-null    int64
 10   Month Name           700 non-null    object
 11  Year                  700 non-null    int64
dtypes: int64(2), object(10)
memory usage: 65.8+ KB

In [6]:
# check null 
df.isna().sum()

Country                 0
 Product                0
 Units Sold             0
 Revenue per cookie     0
 Cost per cookie        0
 Revenue                0
 Cost                   0
 Profit                 0
Date                    0
Month Number            0
 Month Name             0
Year                    0
dtype: int64